{% extends 'base.html' %}
    {% block content %}
        <!-- Banner -->
        <div class="container-fluid banner">
            <!-- <img src="img/astronomy-colors-dark-957040.jpg" alt="banner-image"> -->
            <div class="row">                
                <h1 class="col-12">Partner with Us</h1>    
                <h4>We are actively looking to work with people to further cancer treatment research</h4>       
            </div>
        </div>
        <div class="container-fluid" id="beat">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Clinical Trials;
                    </h2>
                    <p>
                        We offer an environment to test and compare cancer drugs on tumor samples.
                    </p>
                </div>
            </div>
        </div>
        
    {% endblock %}